#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0.1rem;
  text-align: center;
}

.container {
  display: grid;
  gap: 50px;
  place-items: center;
}

.actions {
  display: flex;
  gap: 2rem;
}

.btn {
  font-weight: 500;
  color: #ff0000;
  text-decoration: inherit;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #eeeeee;
}

.dim-inputs-wrapper {
  display: grid;
  gap: 1rem;
  place-items: end;
}

.btn:hover {
  color: #535bf2;
}

.image-wrapper {
  max-width: 800px;
  max-height: 500px;
  overflow: hidden;
}

.invisible {
  display: none;
}
